body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
.table{
  margin: 30px 360px;
}
input{
  width: 60vw;
  display: block;
  padding: 1px 8px;
  border-radius: 10px;
  height: 40px;
  margin: 20px auto;
  font-size: larger;
  border: 1px solid rgba(2, 1, 1, 0.089);
}
.pointer{
  cursor: pointer;
}
.pointer:hover{
  color: rgba(87, 16, 16, 0.486);
}